extends ../../layouts/default.pug

block addCss
    link(rel="stylesheet", href="/css/song/songs.css")
    link(rel="stylesheet", href="/css/song/song-detail.css")

block main 
    .container
        div(currentUser=currentUser.id class="d-none")
        h1(style="margin-top: 20px; margin-bottom: 20px") #{pageTitle}
        .songs
            each song in songs 
                .card.mb-3(style='max-width: 540px;')
                    .row.no-gutters
                        .col-md-4.outer-img
                            a(href=`/songs/detail/${song.slug}`)
                                img(src=song.avatar, alt=song.title)
                        .col-md-8
                            .card-body
                                a(href=`/songs/detail/${song.slug}`)
                                    h5.card-title #{song.title}
                                .singer
                                    i(class="fa-solid fa-microphone-lines") 
                                    span #{song.singerId.fullName}
                                .love
                                    i(songId=song.id class='fa-regular fa-heart love-button loved logged-in')
                                    span Bài hát yêu thích
                                .time
                                    i(class="fa-regular fa-clock") 
                                    //- fix cứng, sửa sau
                                    span Hôm nay