ul 
    li 
        a(href=`${prefixAdmin}/dashboard`) Tổng quan 
    li 
        a(href=`${prefixAdmin}/songs`) Quản lý bài hát
    li 
        a(href=`${prefixAdmin}/topics`) Quản lý chủ đề 
    li 
        a(href=`${prefixAdmin}/`) Quản lý ca sĩ
    li 
        a(href=`${prefixAdmin}/`) Phân quyền
    li 
        a(href=`${prefixAdmin}/`) Tài quản admin
    li 
        a(href=`${prefixAdmin}/`) Tài khoản user
    li 
        a(href=`${prefixAdmin}/`) Cài đặt chung